body{
	background-image:url("../images/back_pattern.jpg");
	
}

ul.dining{
    padding: 45px;
    background-color: #3468af;
    opacity: 0.4;
}

ul.dining li{
    padding: 50px;
	display: inline;
	font-family: sans-serif;
	font-size:20px;
}

ul.dining a{
	text-decoration: none;
	color: white;
    transition: all 0.75s ease-in-out;
}

ul.dining a:hover{
    padding: 14px;
    font-size: 30px;
    background-color:#040c77;
    color: white;
    border-radius: 12px;
    
}
h2.dining_room_heading{
	text-align:center;
}
h3.think{
	text-align:center;
}
p.main_dining_room{
	text-align:center;
	color:#3468af;
	font-size:17px;
}
.p1_image{
	padding-left:170px;
	padding-top:70px;
	padding-right:50px;
	padding-bottom:20px;
	float:left;
}
.p2_image{
	padding-top:70px;
	padding-right:50px;
	float:left;
}
.p3_image{
	padding-top:70px;
	padding-bottom:20px;
}
h2.para1{
	padding-left:180px;
	padding-top:65px;
	padding-right:160px;
	font-family:Comic sans MS;
	float:left;
}
h2.para2{
	padding-top:65px;
	padding-bottom:20px;
	padding-right:180px;
	font-family:Comic sans MS;
	float:left;
}
h2.para3{
	padding-top:65px;
	padding-bottom:20px;
	font-family:Comic sans MS;
}
.p1{
	padding-left:170px;
	padding-right:60px;
	font-family:Comic sans MS;
	color:#3468af;
	font-size:14px;
	float:left;
	
}
.p2{
	padding-right:105px;
	color:#3468af;
	font-family:Comic sans MS;
	font-size:14px;
	float:left;
}

.p3{
	padding-right:50px;
	font-family:Comic sans MS;
	font-size:14px;
	color:#3468af;
	float:bottom;
}
ul.menu li{
	list-style-type:none;
}
ul.menu a{
	text-decoration:none;

}
